*{
    font-family: 'Roboto', sans-serif
  }

@media(min-width:1024px){

    body{
        background-color:rgb(250,250,250);
    }

    .bold{
        font-weight: 700;
    }

    .backgroundcolor{
        background-color:white;
        width:1024px;
        margin:8rem auto;
        box-shadow: 1px 1px 6px rgb(233, 233, 233);
    }

    .align-left{
        width:960px;
        text-align: left;
        padding:0;
        margin: 0 auto;
    }

    .inside_img{
        padding:0.05rem 0.5rem;
    }

    .end_img{
        padding-bottom: 0.5rem;
    }

}