*{
    font-family: 'Inter', 'Roboto', sans-serif
  }
  
@media(max-width:1024px){
/* 
    #navigation{
        background-color:white;
    }

    #navigation h1{
        color: rgb(20, 20, 20);
    }

    #headertext a{
        color: rgb(20, 20, 20);
    }

    #headertext a.mobilenav{
        background:  white;
      } */

    main {
        font-weight: 300;
        padding: 0;
        font-size: 2.4rem;
    }

    .align-left{
        margin: 12rem 32px;
    }

    .align-left p{
        width:100%;
        color: rgb(10, 10, 10);
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        line-height: normal;
        font-size: 2.4rem;
        
    }

    .align-left span{
        padding: 6rem 0;
        color: rgb(10, 10, 10);
        font-weight: 600;
        font-size: 2.8rem;
        line-height: normal;
    }

    .flexbgcolor-reasi{
        background-color: #22252A;
        width: 100%;
    }

    img{
        width: 100%;
    }

    .basic-intro{
        text-align: center;
    }

    .client_name p{
        font-weight: 600;
        padding: 0;
        font-size: 6rem;
        margin:8rem 0;
    }
    

    .align-left .bold p{
        font-weight: 600;
        padding: 0;
        font-size: 2.8rem;
        margin-top:4rem;
        padding-bottom: 2rem;
    }

    .heading{
        text-align: center;
        margin-top: 10rem;
        padding:0;
        color: rgb(15, 15, 15);
        font-size: 4rem;
        font-weight: 600;    
        font-family:'playfair display','Inter', sans-serif;
    }

    .bar{
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        width:150px;
        border-bottom: 3px solid rgb(15, 15, 15);
    }

    .problem{
        margin-top: 4rem;
    }

    .inside_img img{
        margin-top: 4rem;
    }

    .caption-middle{
        text-align: center;
        font-size: 1.4rem;
    }





    
    


}